repo2/workflows/AI_Automation_Consultant.json
{
  "name": "N8N+ MANUS AI Automation Consultant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Lead_capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        0
      ],
      "id": "4f39556d-59b0-4470-b98e-b7114ee95869",
      "name": "Webhook",
      "webhookId": "435e7e79-38dc-4c94-908f-5491192e8b1e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fddd7fb-ae9c-439b-8a5c-8d038dc466f3",
              "name": "Form Submission Date",
              "value": "={{ $json.body.createdAt.toDateTime().format('dd-MM-yy') }}",
              "type": "string"
            },
            {
              "id": "6cdb332a-222f-4084-a06d-d4c022ef5393",
              "name": "Website",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "e706c846-f53a-4ddc-883f-7af786611f80",
              "name": "Industry",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "d891a990-fe31-44c4-b752-80096f33f36a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manus.ai/v2/task.create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"content\": \"Analyze {{ $json.Website }} . Identify the business model, core services, customer journey, business maturity, automation readiness, and the top 3 automation opportunities using n8n and AI agents.\"\n  },\n  \"agent_profile\": \"manus-1.6-lite\",\n  \"interactive_mode\": false,\n  \"share_visibility\": \"private\",\n  \"structured_output_schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"company_name\": {\n        \"type\": \"string\"\n      },\n      \"industry\": {\n        \"type\": \"string\"\n      },\n      \"business_model\": {\n        \"type\": \"string\"\n      },\n      \"business_maturity_score\": {\n        \"type\": \"number\"\n      },\n      \"automation_readiness_score\": {\n        \"type\": \"number\"\n      },\n      \"automation_opportunities\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"impact\": {\n              \"type\": \"string\"\n            },\n            \"difficulty\": {\n              \"type\": \"string\"\n            },\n            \"roi\": {\n              \"type\": \"string\"\n            },\n            \"n8n_workflow\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"name\",\n            \"impact\",\n            \"difficulty\",\n            \"roi\",\n            \"n8n_workflow\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"recommended_next_step\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"company_name\",\n      \"industry\",\n      \"business_model\",\n      \"business_maturity_score\",\n      \"automation_readiness_score\",\n      \"automation_opportunities\",\n      \"recommended_next_step\"\n    ],\n    \"additionalProperties\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "ae856551-32d7-4a33-938a-a079efa62633",
      "name": "Manus Research",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vZLG9DwNKcHx9dSw",
          "name": "Manus API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "a2608ecc-0037-4503-a177-d51ab977a523",
      "name": "Wait",
      "webhookId": "15da782c-d912-4ab6-af5a-14f793b8e903"
    },
    {
      "parameters": {
        "url": "https://api.manus.ai/v2/task.listMessages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $json.task_id }}"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "9213e541-9a0d-4c06-8731-304dc449e1dc",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vZLG9DwNKcHx9dSw",
          "name": "Manus API"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "messages[1].structured_output_result.value.automation_opportunities",
              "renameField": true,
              "outputFieldName": "Automation Ideas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "id": "8df2afef-f813-413a-9d8b-00ee6cb80c24",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This are the automation Ideas:\n\n{{ JSON.stringify($json['Automation Ideas']) }}\n\nIndustry: {{ $('HTTP Request').item.json.messages[1].structured_output_result.value.industry }}\n\nCompany name: {{ $('HTTP Request').item.json.messages[1].structured_output_result.value.company_name }}\n\nAutomation Readiness: {{ $('HTTP Request').item.json.messages[1].structured_output_result.value.automation_readiness_score }}\n\nBusiness Maturity: {{ $('HTTP Request').item.json.messages[1].structured_output_result.value.business_maturity_score }}",
        "options": {
          "systemMessage": "=** Role & Purpose **\n\nYou are a Senior AI Automation Architect specializing in n8n, AI Agents, Enterprise Automation, Logistics Technology, and Solution Design.\n\nYour responsibility is to transform automation opportunities into implementation-ready automation blueprints.\n\nYou must research the market, identify the best tools, APIs, and integrations, and design automations that can be implemented using n8n.\n\n---\n\n** Capabilities **\n\n* Design complete automation workflows from trigger to final output.\n* Research software tools, APIs, SaaS platforms, and AI solutions.\n* Create detailed implementation plans suitable for n8n.\n* Recommend the most cost-effective and scalable technology stack.\n* Generate implementation-ready automation architecture.\n* Compare tools and provide alternatives.\n* Estimate implementation complexity and ROI.\n\n---\n\n** Tools **\n\n### Tavily Research Tool\n\nPurpose:\nResearch software tools, APIs, integrations, pricing, case studies, implementation approaches, alternatives, and vendor information.\n\nTool Usage Rules:\n\n1. You MUST use Tavily Research before recommending any tool.\n2. For every automation opportunity, execute Tavily Research.\n3. Research:\n\n   * Software tools\n   * APIs\n   * AI platforms\n   * CRM systems\n   * Helpdesk platforms\n   * Logistics platforms\n   * Database solutions\n   * Vector databases\n   * Monitoring tools\n   * Analytics platforms\n4. Only recommend tools that satisfy at least one:\n\n   * Official n8n integration\n   * Public API\n   * Webhook support\n5. Prefer tools with both API and n8n integration.\n6. Research pricing before recommending a tool.\n7. Research at least 3 alternatives for every major tool.\n8. Research real-world implementation examples whenever available.\n\nMandatory Execution Order:\n\nStep 1:\nAnalyze automation opportunity.\n\nStep 2:\nExecute Tavily Research.\n\nStep 3:\nCollect:\n\n* Tool recommendations\n* Pricing\n* APIs\n* Integrations\n* Alternatives\n* Case studies\n\nStep 4:\nDesign workflow architecture.\n\nStep 5:\nGenerate implementation blueprint.\n\nNever skip Step 2.\n\nNever recommend tools without first performing Tavily Research.\n\n---\n\n** Interaction Style **\n\n* Be highly structured.\n* Be implementation-focused.\n* Avoid generic recommendations.\n* Provide practical solutions that can be built immediately.\n* Prioritize enterprise-grade tools.\n* Always include costs.\n\n---\n\n** Required Output Format **\n\n# Automation Name\n\n# Business Description\n\nExplain:\n\n* Business problem\n* Business value\n* Expected outcome\n\n# Automation Workflow\n\nFor every step provide:\n\nStep Number\n\nTrigger/Input\n\nTool Used\n\nAction Performed\n\nOutput Produced\n\nExample:\n\nStep 1\n\nTrigger:\nNew shipment created in TMS\n\nTool:\nOracle TMS\n\nAction:\nRetrieve shipment information\n\nOutput:\nShipment data payload\n\nStep 2\n\nTool:\nOpenAI GPT-4o\n\nAction:\nAnalyze shipment risk factors\n\nOutput:\nRisk assessment\n\nContinue until final output.\n\n# Recommended Tools\n\nFor each tool provide:\n\n* Tool Name\n* Category\n* Purpose\n* Why Recommended\n* n8n Integration Available\n* API Available\n* Pricing\n* Website\n\n# Alternative Tools\n\nProvide at least 3 alternatives.\n\n# Technical Architecture\n\nInclude:\n\n* Trigger Systems\n* APIs\n* Databases\n* AI Models\n* Communication Channels\n* Monitoring Components\n\n# n8n Implementation\n\nInclude:\n\n* Nodes Required\n* APIs Required\n* Authentication Method\n* Webhook Usage\n\n# Cost Breakdown\n\nProvide:\n\n* Monthly Cost\n* Annual Cost\n* Enterprise Estimate\n\n# Deployment Complexity\n\n* Low\n* Medium\n* High\n\n# Estimated Implementation Time\n\n* POC\n* MVP\n* Production\n\n# Expected ROI\n\n* Time Savings\n* Cost Savings\n* Payback Period\n\n---\n\n## Notes\n\n- Always execute Tavily Research before recommending tools.\n- Never invent pricing.\n- Never invent integrations.\n- Prefer tools with native n8n nodes.\n- If no native n8n node exists, recommend tools with stable REST APIs and Webhook support.\n- Recommendations must be implementation-ready, not theoretical.\n\n### Output Formatting Rules\n\n- DO NOT use Markdown tables anywhere in the response.\n- DO NOT use pipe (`|`) table syntax.\n- DO NOT use HTML tables.\n- DO NOT format Recommended Tools, Alternative Tools, Cost Breakdown, Technical Architecture, or any other section as a table.\n- Every section must be written using headings, sub-headings, and bullet points only.\n- Each tool should be presented as an individual card-like section using headings.\n\nExample:\n\n## EasyPost\n\n- **Category:** Carrier Tracking API\n- **Purpose:** Shipment tracking and label creation\n- **Why Recommended:** Official n8n integration with webhook support\n- **n8n Integration:** Yes (Official Node)\n- **API Available:** Yes\n- **Pricing:** Free up to 3,000 labels/month, then pay-as-you-go\n- **Website:** https://www.easypost.com\n\nRepeat this format for every tool.\n\nFor Cost Breakdown, use bullets instead of tables.\n\nExample:\n\n## Cost Breakdown\n\n- EasyPost\n  - Monthly Cost: ~$50\n  - Annual Cost: ~$600\n  - Enterprise Estimate: Custom\n\n- OpenAI GPT-4o\n  - Monthly Cost: $50\u2013150\n  - Annual Cost: $600\u20131800\n\n- HubSpot CRM\n  - Monthly Cost: Free\u2013$50\n  - Annual Cost: Free\u2013$600\n\n## Total Estimated Cost\n\n- Monthly: $250\u2013550\n- Annual: $3000\u20136600\n- Enterprise: $5000+\n\nThe output must render correctly when converted from Markdown to HTML and then to PDF. Never rely on Markdown table syntax."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1456,
        0
      ],
      "id": "3fecd81a-5704-4165-ad7d-2f812a8019fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1392,
        272
      ],
      "id": "5419d90c-f4c2-4dd9-b74e-a43289a1414a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kgRy8MjoLQo5mQVJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this Workflow to search tools for Automation on Tavily.",
        "workflowId": {
          "__rl": true,
          "value": "huQ2cFTWu60tbmV6",
          "mode": "list",
          "cachedResultUrl": "/workflow/huQ2cFTWu60tbmV6",
          "cachedResultName": "N8N+ MANUS Research Agent for Tool with tavily"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1664,
        272
      ],
      "id": "838fe2ab-058b-4de0-bd65-bd5fe7e559ed",
      "name": "Call 'N8N+ MANUS Research Agent for Tool with tavily'"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2128,
        0
      ],
      "id": "49b89aa9-752b-4573-93f8-7c1d4de860b3",
      "name": "Markdown"
    },
    {
      "parameters": {
        "html_content": "={{ $json.data }}",
        "css_content": "/* ===== Global ===== */  @page {   size: A4;   margin: 24mm 18mm; }  body {   font-family: Inter, Arial, sans-serif;   font-size: 12px;   line-height: 1.7;   color: #1f2937; }  /* ===== Cover ===== */  h1:first-of-type {   font-size: 28px;   color: #0f172a;   border-bottom: 4px solid #2563eb;   padding-bottom: 12px;   margin-bottom: 25px; }  /* ===== Section Headings ===== */  h1 {   font-size: 22px;   color: #0f172a;   margin-top: 35px;   margin-bottom: 15px;   padding-bottom: 8px;   border-bottom: 2px solid #2563eb;   page-break-after: avoid; }  h2 {   font-size: 18px;   color: #1e40af;   margin-top: 25px;   margin-bottom: 12px; }  h3 {   font-size: 15px;   color: #2563eb;   margin-top: 20px;   margin-bottom: 8px; }  /* ===== Paragraphs ===== */  p {   margin-bottom: 12px;   text-align: justify; }  /* ===== Strong Labels ===== */  strong {   color: #111827;   font-weight: 700; }  /* ===== Lists ===== */  ul, ol {   margin: 12px 0;   padding-left: 25px; }  li {   margin-bottom: 8px; }  /* ===== Workflow Steps ===== */  p:has(strong) {   page-break-inside: avoid; }  /* ===== Horizontal Rules ===== */  hr {   border: none;   height: 1px;   background: #d1d5db;   margin: 30px 0; }  /* ===== Tables ===== */  table {   width: 100%;   border-collapse: collapse;   margin: 20px 0;   page-break-inside: avoid; }  th {   background: #2563eb;   color: white;   padding: 10px;   text-align: left; }  td {   border: 1px solid #e5e7eb;   padding: 10px; }  tr:nth-child(even) {   background: #f8fafc; }  /* ===== Code Blocks ===== */  code {   background: #f3f4f6;   padding: 2px 5px;   border-radius: 4px; }  pre {   background: #111827;   color: white;   padding: 15px;   border-radius: 8px;   overflow: hidden; }  /* ===== Callout Boxes ===== */  blockquote {   border-left: 4px solid #2563eb;   background: #eff6ff;   padding: 12px 16px;   margin: 15px 0;   border-radius: 6px; }  /* ===== Page Breaks ===== */  h1, h2, h3 {   page-break-after: avoid; }  table, ul, ol, blockquote {   page-break-inside: avoid; }  /* ===== Footer ===== */  .footer {   font-size: 10px;   color: #6b7280;   text-align: center; }  /* ===== Links ===== */  a {   color: #2563eb;   text-decoration: none; }  /* ===== ROI Highlight ===== */  .roi, .cost, .impact {   background: #ecfdf5;   border-left: 4px solid #10b981;   padding: 10px;   margin: 10px 0;   border-radius: 4px; }",
        "viewPortWidth": 1240,
        "viewPortHeight": 1754,
        "output_format": "file",
        "output_filename": "={{ $('HTTP Request').item.json.messages[1].structured_output_result.value.automation_opportunities[0].name }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        2320,
        0
      ],
      "id": "551e8d01-90d2-43ff-a823-1a2bed435da7",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "oVXo00KMtaHbU2a2",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Manus API Key\nSet your Manus API key in the **HTTP Header Auth** credential used by the 'Manus Research' and 'HTTP Request' nodes (header: `Authorization`, value: `Bearer YOUR_MANUS_API_KEY`).",
        "height": 304,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        2192
      ],
      "typeVersion": 1,
      "id": "0e8ba4e6-7665-4d4c-a2f3-6f53682408e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# HTML to PDF creation",
        "height": 464,
        "width": 688,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -176
      ],
      "typeVersion": 1,
      "id": "47cfc532-5cf0-4100-b8d0-97d6541e849c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Manus and Tavily making Research and Gathering Tool info",
        "height": 688,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -224
      ],
      "typeVersion": 1,
      "id": "487faf91-4108-427e-a561-666db652c268",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[1].status_update.agent_status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ccc921f3-5c9f-45fe-ac0f-5b6e47e51037"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Manus is Running"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d389e42-02da-450f-a5fe-2a5235eb3303",
                    "leftValue": "={{ $json.messages[0].status_update.agent_status }}",
                    "rightValue": "stopped",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Manus has completed task"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        16
      ],
      "id": "f4de21b8-8459-41b4-ab09-d99f997451c1",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Manus Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manus Research": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'N8N+ MANUS Research Agent for Tool with tavily'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82217da7-58f2-42f8-96ed-612253b0a94a",
  "meta": {},
  "nodeGroups": [],
  "id": "RXqyRtDjOjBHe1mx",
  "tags": []
}